 .img-responsive{
    width:100%;
    position: middle;
    min-height: 268px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/*for gallery*/
.rg-caption{
    display:none;
}

.es-carousel ul{
    display:block;
}

/* Carousel base class */
.carousel{
    margin: 0;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  /*height: 600px;*/
  background-color:#555;
}
.carousel img {
  /*position: absolute;*/
  top: 0;
  left: 0;
  /*min-height: 650px;*/
}

.text_name{
    display: inline-block;
    width: 30%;
    padding: 0 auto;
    margin: 0 auto;
}

 input, textarea, select{
    color: #214301;

 }

li a {
   font-family: "Brush Script MT", cursive;
}

footer{
    background-color: #214301;
    color: white;
    text-align: right;
    padding: 8px 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.side{
    margin-top: 10px;
    margin-right: 5px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,*:before,*:after {
   box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 5rem;
  min-height: 100%;
 /* padding-bottom: 70px;*/
}


.search {
    display: inline-block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #214301 ;
    font-size: 12px;
    background-color: white;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 5px;
   
}

.search:focus {
    width: 110%;
}
.form-group {
    margin-bottom: 0px;
    margin-top: 10px;
    
}

.form_button{
    margin-bottom: 10px;
}


aside{
     word-wrap: break-word;
}

.login{
    padding: 2%;
}

/*button responsive*/
.btn-responsive {
    width: 70%;
    white-space: normal;
    word-wrap: break-word;
    /*font-size: 1.5vw;*/
  /*  padding:5vw;*/
}

/*button style*/
.btn-success {
    background : #3a7004 ;
    background : -moz-linear-gradient(top, #3a7004 0%, #214301 100%);
    background : -webkit-linear-gradient(top, #3a7004 0%, #214301 100%);
    background : -o-linear-gradient(top, #3a7004 0%, #214301 100%);
    background : -ms-linear-gradient(top, #3a7004 0%, #214301 100%);
    font-family: "Brush Script MT", cursive;
    border-color :  #214301;
    border-radius: 0px;
}
.btn-success:hover, .btn-success:focus, .btn-success:active .btn-success.active, .open>.dropdown-toggle.btn-success {
   background : #214301;
}
.main_button{
    margin-bottom: 15%;
}

/*area for text in the slide*/
.text_place{
    margin-bottom: 6%;
    background: rgba(51, 51, 0, 0.6);
    line-height: 200%;
    font-size: 120%;
    padding: 3%;
    font-family: "Brush Script MT", cursive;
}

.padding{
    padding: 0.5%;
}

.button{
    padding: 0.8%;
    margin-left: 45%;
    font-size: 120%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*sidebar*/
.sidebar{
    float: right;
    width: 22%;
    padding-left: 1%;  
    padding-top: 1%; 
}

/*aside*/
aside{
    border: 1px solid  #214301;
    padding: 4%;
    margin-top: 10%;
    text-align: center;  
}
h3{
    text-align: center;
    padding-bottom: 10px;
}

p{
    margin:0;
}

/*main content*/
.main{
    width: 75%;
    padding: 2%;
    /*margin-left: 2%;*/
}

/*img with text float*/
.leftimg {
    float:left; 
    margin: 0px 7px 0px 0; 
   }

   /*.rightimg  {
    float: right; 
    margin: 7px 0 7px 7px; 
   }*/

/*article in the main content*/
.article_main{
    font-size: 150%;
    margin-top: 3%;
}

 /*menu*/

.navbar-inverse{
    background-color: #214301;
    border-color: #214301;
    background-image: none;
    border-radius: 0px;
    margin-bottom: 0px;
}

/*toggle it is menu img*/


.navbar-inverse .navbar-toggle {
    border-color: white;
    background-color: #214301;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #1a3401;
    
}

.navbar-brand img{
    max-height: 180%; 
    margin-top: -6px;
}

.navbar-inverse .navbar-nav .active_menu{ 
   background-color:  white;
   color: #214301;
}


.navbar-inverse .navbar-collapse{
    border-color: white;
    /*margin-left: 18vw;*/
}


.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

aside div {
     word-wrap: break-word;
     margin-bottom: 5%;
      margin-top: 1%;
}


/*hover menu*/
li a:hover{
    box-sizing: border-box ;
    outline: 1px solid  white ;
    /*padding: 1px 1px;*/
}

footer p{
    display: inline-block;
}

.carousel-indicators{
    margin-bottom: 50px;
}


/*image with efects in the main page*/
.cuadro_intro_hover{
        padding: 0px;
        position: relative;
        overflow: hidden;
        height: 19.3em;
    }

.cuadro_intro_hover:hover .caption{
        opacity: 1;
        transform: translateY(-16.5em);
        -webkit-transform:translateY(-16.5em);
        -moz-transform:translateY(-16.5em);
        -ms-transform:translateY(-16.5em);
        -o-transform:translateY(-16.5em);
    }
.cuadro_intro_hover img{
        z-index: 4;
    }

    /*caption area for img with efects*/
.cuadro_intro_hover .caption{
        position: absolute;
        top:16em;
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -o-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        width: 100%;
    }

.cuadro_intro_hover .blur{
        background-color: rgba(51,51,0,0.7);
        height: 23em;
        z-index: 5;
        position: absolute;
        width: 100%;
    }

    /*caption for img with efects*/
.cuadro_intro_hover .caption-text{
        z-index: 10;
        color: #fff;
        position: absolute;
        height: 20em;
        text-align: center;
        /*top:-1.4em;*/
        width: 100%;
    }
    
.caption_text{
    padding: 2% 5%;
}

.green_fild{
    background : #3a7004 ;
    background : -moz-linear-gradient(top, #3a7004 0%, #214301 100%);
    background : -webkit-linear-gradient(top, #3a7004 0%, #214301 100%);
    background : -o-linear-gradient(top, #3a7004 0%, #214301 100%);
    background : -ms-linear-gradient(top, #3a7004 0%, #214301 100%);
    font-family: "Brush Script MT", cursive;
    border-color :  #214301;
    border-radius: 0px;
    color: white;
}

/*area for img*/
.col-lg-4, .col-lg-6{
    padding: 0px;
}

.hover_img{
    width: 100%; 
    margin-left: 0px; 
    border-top: 2px solid white;
}

.border_h3{
    border-top: 2px solid white; 
    border-bottom: 2px solid white;
    padding: 10px;
    margin:0px;
}


h3{
    font-weight: bold;
    font-size: 20px;
}
/*map style*/
.map {
        min-width: 300px;
        min-height: 357px;
        width: 100%;
        height: 100%;
}

/*map style*/
.header {
        background-color: #F5F5F5;
        color: #214301;
        height: 70px;
        font-size: 27px;
        padding: 9px;
}

/* Wrapper */
.icon-button {
    float: left;
    background-color: #214301;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.google-plus span {
    background-color: #db5a3c;
}

/*form*/
   #span, #span2 {
    text-align: center;
    color: red;
  }
  label {
    margin-left: 3%;
  }
  /*input {*/
  /*  max-width: 90%;*/
    
  /*}*/

  select {
    margin-top: 3px;
    margin-left: 3%;
  }

.spase_right{
    margin-left: 4%;
}

ul li a img{
    text-align: center;
}

.es-carousel {
     background: #003300; 
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

.icon-button .icon-twitter {
    color: #4099ff;
}

.icon-button .icon-facebook {
    color: #3B5998;
}

.icon-button .icon-google-plus {
    color: #db5a3c;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
    color: white;
}
.video {
        position: relative;
        padding-bottom: 56.25%; 
        height: auto;
     
    }
 iframe {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
 td{
    background-color:  #3a7004 ;
 }
 
element.style {
    cursor: pointer;
    font: 13px Arial;
    background: #FFC266;
}


@media (min-width: 168px) {
    .my-custom-container{
        width:100%;
    }
    .main{
        width:100%;
    }
    .border_blue{
        margin: 0;
        margin-bottom: 30px;
        padding: 0px 5px;
        font-size: 117%;
    }
}

@media (min-width: 768px) {
    .my-custom-container{
       width:25%;
    }
    .main{
        width:75%;
    }
     .border_blue{
        margin-bottom: : 10px;
        padding: 10px;
        font-size: 1em;
    }
    
    
}

@media (min-width: 1050px) {
    .my-custom-container{
       width:20%;
    }
    .main{
        width:80%;
    }
    
}


@media (min-width: 1200px) {
   
 .my-custom-container{
       width:20%;
    }
    .main{
        width:80%;
    }
.text_name{
        display:inline-block;
    }
    
}
